<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
		<string>ja</string>
		<string>ko</string>
		<string>ru</string>
		<string>it</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Yearn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackgroundColor</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>metal</string>
		<string>gamekit</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NES ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nes</string>
				<string>fds</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.nes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SNES ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sfc</string>
				<string>smc</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.snes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Game Boy ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gb</string>
				<string>gbc</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.gameboy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GBA ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gba</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.gba</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>N64 ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64</string>
				<string>z64</string>
				<string>v64</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.n64</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NDS ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nds</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.nds</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Genesis ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>gen</string>
				<string>smd</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.genesis</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PlayStation ROM</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
				<string>cue</string>
				<string>iso</string>
				<string>pbp</string>
				<string>chd</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yearn.psx</string>
				<string>public.data</string>
				<string>public.disk-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Binary Data</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>com.apple.macbinary-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
				<string>img</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.disk-image</string>
				<string>public.iso-image</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.nes</string>
			<key>UTTypeDescription</key>
			<string>NES ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nes</string>
					<string>fds</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.snes</string>
			<key>UTTypeDescription</key>
			<string>SNES ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sfc</string>
					<string>smc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.gameboy</string>
			<key>UTTypeDescription</key>
			<string>Game Boy ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
					<string>gbc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.gba</string>
			<key>UTTypeDescription</key>
			<string>GBA ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gba</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.n64</string>
			<key>UTTypeDescription</key>
			<string>N64 ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>n64</string>
					<string>z64</string>
					<string>v64</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.nds</string>
			<key>UTTypeDescription</key>
			<string>NDS ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nds</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.genesis</string>
			<key>UTTypeDescription</key>
			<string>Genesis ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>gen</string>
					<string>smd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yearn.psx</string>
			<key>UTTypeDescription</key>
			<string>PlayStation ROM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbp</string>
					<string>chd</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save screenshots to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access photos for game artwork</string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
</dict>
</plist>
